include LICENSE
include SECURITY.md
include CONTRIBUTING.md
include RELEASING.md
include requirements-release.in
include requirements-release.txt
include README.md
recursive-include pebra/dashboard/templates *.html
recursive-include pebra/dashboard/static *.js *.css *.txt
